

MK:ATBBNrUKxUkbYvfDZJ7p4muHAaMX1B29C785
dist/
*.class
*.py[cod]
*.log
*.jar
target/
dist/
.idea/
TEST*.xml
.DS_Store
Thumbs.db
*.app
*.exe
*.war
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
.well-known/
.env
/node_modules
/public/storage
/storage/*
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/logs/laravel.log
.htaccess
php.ini
.env
/vendor/*
/public/*
.log
.env
/storage/framework/cache/data/*
/storage/logs/laravel.log